<div class="tile-wrapper">
	<div class="inactive-project-tile"/>
</div>

<style>
	.inactive-project-tile {
		margin: 10px;
		width: 320px;
	}

	@media (max-width: 776px) {
		.inactive-project-tile {
			display: none;
		}
	}

	@media (min-width: 2101px) {
		.inactive-project-tile {
			width: 360px;
		}
	}
</style>