---
import '../../styles/tiles.css';

const { name, path, desc } = Astro.props;
const descriptionClass = desc ? ' has-description' : '';
---

<div class={"media-controls" + descriptionClass}>
	<div class="link-row">
		<div class="tile-wrapper">
			<a download={name} href={path} target="_blank" title="Download">
				<div class="tile">
					<div class="tile-icon"><img src="/assets/svg/download.svg" onload="fadeIn(this);"></div>
				</div>
			</a>
		</div>
		<div class="tile-wrapper">
			<a href={path} target="_blank" title="Fullscreen">
				<div class="tile">
					<div class="tile-icon"><img src="/assets/svg/fullscreen.svg" onload="fadeIn(this);"></div>
				</div>
			</a>
		</div>
	</div>
</div>

<style>
	.media-controls {
		position: absolute;
		width: 100%;
		bottom: 10px;

		opacity: 0;
		transition: opacity 0.5s ease;
	}

	.media-controls.has-description {
		bottom: 15px;
	}

	.media-controls .tile {
		padding: 12px 14px;
	}

	.media-controls .tile-icon {
		height: 21px;
	}

	.media-controls .tile-icon img {
		height: 21px;
		width: 21px;
	}
</style>