<div class="end-button-padding">
    <slot/>
</div>

<style>
    .end-button-padding {
		text-align: center;
		margin: 20px auto 10px;
	}

    @media (max-width: 776px) {
		.end-button-padding {
			margin: 20px auto 20px;
		}
    }
</style>