---
import links from '../../data/links.yml';
import '../../styles/tiles.css';
---

<div class="footer">
	<div class="tile-row">
		{links.map((link) =>
			<a href={link.link} target="_blank" title={link.name}>
				<div class="tile"> 
					<div class="tile-icon">
						<img src={link.icon} alt="" onload="fadeIn(this);">
					</div>
				</div>
			</a>
		)}
	</div>
</div>

<style>
	.footer {
		position: relative;
		margin: 40px 0px;
		pointer-events: none;
	}

	.footer a {
		pointer-events: all;
	}

	.footer .tile-icon {
		height: 28px;
	}

	.footer .tile-icon img {
		opacity: 0;
		width: 28px;
		height: 28px;
	}

	@media (max-width: 776px) {
		.footer {
			margin: 30px 0;
		}
	}

	@media (min-width: 2101px) {
		.footer {
			margin: 50px 0;
		}

		.footer .tile-icon {
			height: 31px;
		}

		.footer .tile-icon img {
			width: 31px;
			height: 31px;
		}
	}
</style>