---
import '../../styles/tiles.css';
---
<div class="footer">
	<div class="link-row">
		<div class="tile-wrapper">
			<a href="mailto:blaha.j502@gmail.com" target="_blank" title="Email">
				<div class="tile">
					<div class="tile-icon"><img src="/assets/svg/envelope.svg"></div>
				</div>
			</a>
		</div><div class="tile-wrapper">
			<a href="https://www.linkedin.com/in/jan-bláha/" target="_blank" title="LinkedIn">
				<div class="tile">
					<div class="tile-icon"><img src="/assets/svg/linkedin.svg"></div>
				</div>
			</a>
		</div><div class="tile-wrapper">
			<a href="https://github.com/swift502" target="_blank" title="GitHub">
				<div class="tile">
					<div class="tile-icon"><img src="/assets/svg/github.svg"></div>
				</div>
			</a>
		</div><div class="tile-wrapper">
			<a href="https://youtube.com/c/swifterik" target="_blank" title="YouTube">
				<div class="tile">
					<div class="tile-icon"><img src="/assets/svg/youtube.svg"></div>
				</div>
			</a>
		</div>
	</div>
</div>

<style>
	.footer {
		margin: 40px 0px;
		pointer-events: none;
	}

	.footer .tile-wrapper {
		pointer-events: all;
	}

	.footer .tile-icon {
		height: 28px;
	}

	.footer .tile-icon img {
		width: 28px;
		height: 28px;
	}
</style>