---
const { pageInfo } = Astro.props;

function tabHighlight(tabName: string)
{
	if (pageInfo.tab == tabName) return ' highlighted';
	else return '';
}
---

<div id="navbar" class="navbar">
	<div class="navigation">
		<a href="/" class={'navigation-item' + tabHighlight('home')}>
			Home
		</a>
		<a href="/projects/" class={'navigation-item' + tabHighlight('projects')}>
			Projects
		</a>
	</div>
</div>

<style>
	.navbar {
		position: fixed;
		top: 0;
		height: 63px;
		background: white;
		width: 100%;
		padding: 0;
		display: flex;
		z-index: 100;
		justify-content: center;
		transition:
			box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
			top 0.25s ease;
	}

	.navbar.shadow {
		box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
	}

	.navigation {
		white-space: nowrap;
	}

	.navigation-item {
		position: relative;
		user-select: none;
		display: inline-block;
		text-decoration: none;
		font-family: 'Catamaran', sans-serif;
		font-weight: 900;
		font-size: 20px;
		padding: 20px 25px;
		box-shadow: inset 0 -4px 0 #fff;
		color: #333;
	}

	.navigation-item::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 5px;
		border-radius: 5px;
		background: #333;
		opacity: 0;
		transition: opacity 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}

	.navigation-item:hover::after,
	.navigation-item.highlighted::after {
		opacity: 1;
	}
</style>