---
const {text} = Astro.props
---

<a href="/projects" class="big-button projects-button">
	<span class="big-button-text">{text}</span>
	<img src="/assets/svg/folder-open.svg" class="big-button-icon">
</a>