---
import Analytics from "../../../components/core/Analytics.astro";
---

<!DOCTYPE html>
<html>

<head>
	<title>Sketchbook 0.1</title>
	<meta name="robots" content="noindex">
    <link rel="stylesheet" href="css/sketchbook.min.css">

    <link rel="icon" href="../favicon.ico">

    <Analytics/>
</head>

<body>
    <script is:inline src="js/three.min.js"></script>
    <script is:inline src="js/cannon.min.js"></script>
    <script is:inline src="js/sketchbook.min.js"></script>
</body>

</html>