<div id="navbar" class="navbar">
	<div class="navigation">
		<%= link_to 'Home', '/', :class => "navigation-item #{tab_highlight "home"}" %>
		<%= link_to 'Projects', '/projects', :class => "navigation-item #{tab_highlight "projects"}" %>
	</div>
</div>