* {
	font-family: 'Solway', serif;
	font-size: 18px;
}

html {
	overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Catamaran', sans-serif;
	font-weight: 900;
}

a {
	color: #005896;
	text-decoration: inherit;
	font-weight: 700;
}

hr {
	border: none;
	border-top: 1px solid #ccc;
}

.center {
	text-align: center;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 776px) {
	body {
		min-width: 260px;
	}

	* {
		font-size: 18px;
	}
}