* {
	font-family: 'Solway', serif;
	font-size: 18px;
}

html, body {
	height: 100%;
}

html {
	overflow-y: scroll;
}

iframe {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Catamaran', sans-serif;
	font-weight: 900;
}

a {
	color: #005896;
	text-decoration: inherit;
	font-weight: 700;
}

hr {
	border: none;
	border-top: 1px solid #ccc;
}

.border-radius-full {
	overflow: hidden;
	border-radius: 10px;
}

.border-radius-top {
	overflow: hidden;
	border-radius: 10px 10px 0px 0px;
}

@media (max-width: 776px) {
	.border-radius-full,
	.border-radius-top {
		border-radius: 0px;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 776px) {
	body {
		min-width: 260px;
	}
}