.textarea {
    position: relative;
    padding: 22px 30px;
    text-align: left;
    color: #222;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    line-height: normal;
}

.textarea p {
    margin: 0px;
    margin-bottom: 14px;
}

.textarea p:last-of-type {
    margin: 0px;
}

@media (max-width: 776px) {
    .textarea {
        background: none;
        box-shadow: none;
        padding-left: 22px;
        padding-right: 22px;
        padding-bottom: 0px;
        width: 100% !important;
        text-align: left;
    }
}

@media (min-width: 2101px) {
    .textarea p {
        font-size: 20px;
    }
}