---
import Layout from '../layouts/NoIndex.astro';
import BigButton from '../components/core/BigButton.astro';

// Layout variables
const pageInfo = {
	'title': 'Page Not Found',
};
---

<Layout pageInfo={pageInfo}>
	<div class="content">
		<model-viewer
			src="/models/404.glb"
			environment-image="/assets/env.hdr"
			exposure="1.1"
			autoplay
			disable-pan
			disable-zoom
			min-camera-orbit="auto 80deg auto"
			max-camera-orbit="auto 80deg auto"
			camera-target="-0.45m 0.8m 0.08m"
			field-of-view="37deg"
			shadow-intensity="1"
			shadow-softness="0"
		/>
	</div>
	<div class="text-container">
		<div class="title">404</div>
		<div class="text">Page not found.</div>
		<BigButton
			text="Return home"
			link="/"
			icon="/assets/svg/home.svg"
		/>
	</div>
	<script type="module" src="/scripts/model-viewer.min.js" />
</Layout>

<style>
	.text-container {
		position: absolute;
		width: 77vw;
		height: 88vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		user-select: none;
	}

	.title {
		font-family: 'Catamaran', sans-serif;
		font-weight: 600;
		font-size: 240px;
		color: #333;
		line-height: 210px;
	}

	.text {
		font-family: 'Catamaran', sans-serif;
		font-weight: 600;
		font-size: 30px;
		color: #333;
		margin-top: 0px;
		margin-bottom: 30px;
	}

	.content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	model-viewer {
		width: 100%;
		height: 100%;
	}

	@media (max-width: 776px) {
		.content {
			display: none;
		}

		.title {
			font-size: 150px;
			line-height: 140px;
		}

		.text-container {
			width: 100%;
			height: 100%;
		}
	}

	@media (min-width: 2101px) {
		.title {
			font-size: 320px;
			line-height: 280px;
		}

		.text {
			font-size: 40px;
		}
	}
</style>