---
import Layout from '../layouts/FullScreen.astro';
import BigButton from '../components/BigButton.astro';
import { getPageInfo } from '../scripts/astro-helpers';

// Layout variables
const pageInfo = getPageInfo({
	title: 'Page Not Found',
	noIndex: true
});
---

<Layout pageInfo={pageInfo}>
	<div class="model-viewer-container">
		<model-viewer
			autoplay
			environment-image="/assets/env.hdr"
			exposure="1.1"
			min-field-of-view="0deg"
			max-field-of-view="180deg"
			field-of-view="35deg"
			shadow-intensity="1"
			shadow-softness="0"
			tone-mapping="aces"
			onload="fadeIn(this)"
			src="/models/404.glb"
			camera-target="-0.45m 0.8m 0.08m"
			min-camera-orbit="auto 80deg 3m"
			max-camera-orbit="auto 80deg 3m"
		/>
	</div>
	<div class="text-container">
		<div class="title">404</div>
		<div class="text">Page not found.</div>
		<BigButton
			text="Return home"
			link="/"
			icon="/assets/svg/home.svg"
		/>
	</div>
	<script>
		import '@google/model-viewer';
		import '../scripts/client/model-viewer.js';
	</script>
</Layout>

<style>
	.text-container {
		position: absolute;
		width: 73vw;
		height: 88vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		user-select: none;
	}

	.title {
		font-family: 'Catamaran', sans-serif;
		font-weight: 600;
		font-size: 240px;
		color: #333;
		line-height: 210px;
	}

	.text {
		font-family: 'Catamaran', sans-serif;
		font-weight: 600;
		font-size: 30px;
		color: #333;
		margin-top: 0px;
		margin-bottom: 30px;
	}

	.model-viewer-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	@media (max-width: 776px) {
		.model-viewer-container {
			display: none;
		}

		.title {
			font-size: 150px;
			line-height: 140px;
		}

		.text-container {
			width: 100%;
			height: 100%;
		}
	}

	@media (min-width: 2100px) {
		.title {
			font-size: 320px;
			line-height: 280px;
		}

		.text {
			font-size: 40px;
		}
	}
</style>