---
import MainLayout from '../layouts/MainLayout.astro';
import ProjectTile from '../components/ProjectTile.astro';
import DummyProjectTile from '../components/DummyProjectTile.astro';

// Project grid
const data = await Astro.glob('../data/project-index.yml');
const projects = data[0]['default'];
const columns = 3;
const gaps = (columns - (projects.length % columns)) % columns;

// Layout variables
const pageInfo = {};
pageInfo['title'] = 'Projects'
pageInfo['description'] = 'Portfolio of my 3D art and programming projects and experiments along with a breakdown of the creative process and technical challenges tied to each of them.'
pageInfo['image'] = 'assets/social.jpg';
---

<MainLayout pageInfo={pageInfo}>
	<div class="project-grid">
		{projects.map(function(x, i){
			return <ProjectTile project_name={x} />;
		})}

		{[...Array(gaps)].map((x, i) =>
			<DummyProjectTile />
		)}
	</div>
</MainLayout>

<style>
	.project-grid {
		margin: 50px auto 20px;
		max-width: 1140px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
</style>