---
tab: "projects"
priority: "0.80"

const data = await Astro.glob('../data/project_index.yml');
import Layout from '../layouts/layout.astro';
import ProjectTile from '../components/components/ProjectTile.astro';
import DummyProjectTile from '../components/components/DummyProjectTile.astro';

const projects = data[0]["default"];
let columns = 3;
let gaps = (columns - (projects.length % columns)) % columns;
---

<!-- <% content_for(:title, "Projects") %> -->
<!-- <% content_for(:description, "Portfolio of my 3D art and programming projects and experiments along with a breakdown of the creative process and technical challenges tied to each of them.") %> -->
<!-- <% content_for(:page_image, "https://#{config.domain}/assets/social.jpg") %> -->

<Layout>
<div class="project-grid">
    {projects.map(function(object, i){
		return <ProjectTile project_name={object} />;
    })}

	{[...Array(gaps)].map((x, i) =>
		<DummyProjectTile />
	)}
</div>
</Layout>

<script is:inline src="/src/javascripts/global.js"></script>

<style>
	.project-grid {
		margin: 50px auto 20px;
		max-width: 1140px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
</style>