/* Projects button */

.projects-button-wrapper {
	margin-top: 20px;
}

.big-button {
	position: relative;
	top: 0px;
	display: inline-block;
	user-select: none;
	padding: 16px 22px;
	outline: none;
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.big-button-text {
	font-weight: 700;
	font-size: 24px;
	margin-left: 40px;
}

.big-button-icon {
	width: 28px;
	position: absolute;
    left: 22px;
    top: 17px;
}

.projects-button {
	background: #ffb900;
	color: #523b00;
	box-shadow: 0 6px 0 0 rgb(228, 158, 0);
}

.projects-button:active {
	top: 6px;
	box-shadow: 0 0px 0 0 rgb(228, 158, 0);
}