/* Footer */

.footer {
	margin: 40px 0px;
	pointer-events: none;
}

.footer .tile-wrapper {
	pointer-events: all;
}

.footer .tile-icon {
	height: 28px;
}

.footer .tile-icon img {
	width: 28px;
	height: 28px;
}