@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600;900&family=Roboto+Condensed:wght@700&family=Solway:wght@400;500;700&display=swap');

/* Global */

* {
	font-family: 'Solway', serif;
	font-size: 20px;
}

html {
	overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Catamaran', sans-serif;
	font-weight: 900;
}

a {
	color: inherit;
	text-decoration: inherit;
}

hr {
	border: none;
	border-top: 1px solid #aaa;
}

.center {
	text-align: center;
}

.content {
	padding-top: 64px;
	min-height: calc(100vh - 225px);
}

/* Tiles */

.tile {
	position: relative;
	user-select: none;
	background: white;
	border: #ccc solid 1px;
	padding: 14px 16px;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tile:hover {
	border-color: #888;
	box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.07);
}

.tile:hover .wip-overlay {
	opacity: 1;
}

/* Projects button */

.projects-button-wrapper {
	margin-top: 20px;
}

.projects-button {
	position: relative;
	top: 0px;
	display: inline-block;
	user-select: none;
	background: #ffb900;
	padding: 16px 22px;
	color: #523b00;
	outline: none;
	cursor: pointer;
	box-shadow: 0 6px 0 0 rgb(228, 158, 0);
	transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.projects-button:active {
	top: 6px;
	box-shadow: 0 0px 0 0 rgb(228, 158, 0);
}

.projects-button-text {
	font-weight: 700;
	font-size: 24px;
	margin-right: 40px;
}

.projects-button-icon {
	width: 28px;
	position: absolute;
	right: 20px;
	top: 18px;
}

/* Other */

.link-row {
	position: relative;
	text-align: center;
}

.link-row .tile-wrapper {
	display: inline-block;
	margin: 0 5px;
}

.sketchbook-archive {
	text-align: center;
	max-width: 320px;
	margin: auto;
}

.sketchbook-archive .tile-wrapper {
	width: 100%;
	margin: 16px auto;
}