@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600;900&family=Solway:wght@400;500;700&display=swap');

/* Global */

* {
	font-family: 'Solway', serif;
	font-size: 18px;
}

html {
	overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Catamaran', sans-serif;
	font-weight: 900;
}

a {
	color: #005896;
	text-decoration: inherit;
	font-weight: 700;
}

hr {
	border: none;
	border-top: 1px solid #ccc;
}
/* 0 1px 2px 0 rgb(0 0 0 / 10%), 0 2px 6px 0 rgb(0 0 0 / 10%) */
/* body {
	background: #fafafa;
} */

.center {
	text-align: center;
}

.content {
	padding-top: 64px;
	min-height: calc(100vh - 202px);
	animation: fadeIn 0.1s ease-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translate(0px, -3px);
	}
	100% {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

/* Navbar */

.navbar {
	position: fixed;
	top: 0;
	height: 63px;
	background: white;
	width: 100%;
	padding: 0;
	display: flex;
	z-index: 100;
	justify-content: center;
	/* border-bottom: 1px solid #fff; */
	transition:
		box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
		top 0.25s ease;
}

.navbar.shadow {
	box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 20%), 0px 2px 6px 0px rgb(0 0 0 / 10%);
}

.navigation {
	white-space: nowrap;
}

.navigation-item {
	user-select: none;
	display: inline-block;
	text-decoration: none;
	font-family: 'Catamaran', sans-serif;
	font-weight: 900;
	font-size: 20px;
	padding: 20px 25px;
	box-shadow: inset 0 -4px 0 #fff;
	transition: box-shadow 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	color: #333;
}

.navigation-item:hover {
	color: #333;
	box-shadow: inset 0 -4px 0 #333;
}

.navigation-item.highlighted {
	box-shadow: inset 0 -4px 0 #333;
}

/* Footer */

.footer {
	margin: 40px 0px;
}

.footer .tile-icon {
	height: 28px;
}

.footer .tile-icon img {
	width: 28px;
	height: 28px;
}