.homepage {
	position: relative;
	min-height: 420px;
	margin: auto;
	height: calc(100vh - 227px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage-title {
	z-index: 10;
	font-size: 60px;
	text-align: center;
	pointer-events: none;
}

.model-viewer-container {
    position: absolute;
    left: -260px;
    top: 0;
	width: calc(100% + 260px);
	height: calc(100% + 161px);
}

model-viewer {
	width: 100%;
	height: 100%;
	--progress-bar-height: 0px;
}

.homepage-info-panel {
	height: 100%;
	margin-left: 52%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.typewriter-container {
	z-index: 10;
	pointer-events: none;
	user-select: none;
}

#typewriter-history div, #typewriter {
	z-index: 10;
	font-size: 30px;
	white-space: nowrap;
}

#typewriter-history {
	height: 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}