/* Homepage */

.homepage {
	max-width: calc(100vh - 300px);
	min-width: 600px;
	min-height: 620px;
	margin: auto;
	height: calc(100vh - 225px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage-title {
	font-size: 60px;
	text-align: center;
}

.homepage-split-container {
	position: relative;
	height: calc(80vh - 280px);
	min-height: 364px;
	/* max-height: 700px; */
}

.homepage-split {
	height: 100%;
	width: 50%;
	position: absolute;
	top: 0;
}

.homepage-split.left {
	left: 0;
	border: 2px dashed #aaa;
	transition: border 1s ease-in;
}

.homepage-split.right {
	right: 0;
}

.homepage-right-panel {
	height: 100%;
	padding-left: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

model-viewer {
	width: 100%;
	height: 100%;
}

#typewriter-history div, #typewriter {
	font-size: 30px;
	white-space: nowrap;
}

#typewriter-history {
	height: 34px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}