/* Projects */

.project-grid {
	margin: 60px auto 20px;
	max-width: 1140px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.project-tile {
    display: flex;
    justify-content: center;

	position: relative;
	padding: 10px;
	width: 360px;
	height: 260px;

	background: #eee;
	background-image: url('/assets/loading.png');
	background-position: center;
	background-repeat: no-repeat;
}

.project-tile::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	box-shadow: inset 0 0 0 10px white;
	transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project-tile:not(.inactive):hover::before {
	box-shadow: inset 0 0 0 20px white;
}

.project-tile-image {
	display: none;
	width: 360px;
	height: 260px;
}

.project-tile-ghost {
	width: 360px;
	height: 260px;
}

.project-tile-commercial {
	position: absolute;
	background: #3b64a0;
	color: white;
	top: 20px;
	left: 20px;
	padding: 5px 8px 3px 8px;
	font-size: 14px;
	font-weight: 500;
}