/* Project detail */

.project-detail-wrapper {
	max-width: 1000px;
	margin: 30px auto;
}

@media (min-width: 2100px) {
	.project-detail-wrapper {
		max-width: 1200px;
	}
}

.project-detail {
	padding: 0 52px;
	text-align: center;
	min-height: calc(100vh - 366px);
}

.project-detail h1 {
	text-align: center;
}

.video-wrapper {
	margin: 30px auto;
}

.aspect-ratio {
	overflow: hidden;
	position: relative;
	max-width: 100%;
	margin: auto;
	
	background: #eee;
	background-position: center;
	background-repeat: no-repeat;
}

.aspect-ratio.wide::after {
	padding-top: 56.25%;
	display: block;
	content: '';
}

.aspect-ratio.square::after {
	padding-top: 100%;
	display: block;
	content: '';
}

.project-detail iframe, .project-detail video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.project-detail p {
	padding: 22px 30px;
	margin: 25px 0;
    position: relative;
	top: -5px;
}

.label {
	color: #222;
	background: #fff;
    border: 1px solid #ccc;
	border-radius: 5px;
}

.project-detail p:not(.link-box) {
	text-align: left;
}

.link-box {
	margin-bottom: 20px;
}

.project-detail .content-description {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	line-height: initial;
}

.project-detail p.project-description {
	margin-top: 0px;
	margin-bottom: 20px;
}

.image-center {
	margin: 30px auto;
	line-height: 0;
}

.image-wrapper {
	position: relative;
	display: inline-block;
	line-height: 0;
	
	background: #eee;
	background-position: center;
	background-repeat: no-repeat;
}

.project-detail-image {
	display: none;
	width: 100%;
	height: 100%;
}

.back-to-projects-wrapper {
	text-align: center;
	margin: 39px 0px 50px;
}

.media-controls {
	position: absolute;
	width: 100%;
	bottom: 10px;

	opacity: 0;
	transition: opacity 0.5s ease;
}

.media-controls.has-description {
	bottom: 15px;
}

.image-wrapper:hover .media-controls,
.video-wrapper:hover .media-controls {
	opacity: 1;
}

.media-controls .tile {
	padding: 12px 14px;
}

.media-controls .tile-icon {
	height: 21px;
}

.media-controls .tile-icon img {
	height: 21px;
	width: 21px;
}

.project-title {
	margin: 0.2em 0;
	font-size: 45px;
}

.tag-wrapper {
	margin-bottom: 20px;
	display: flex;
    justify-content: center;
}

.tag-row {
	padding: 4px 8px;
}

.tag {
    position: relative;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    display: inline-block;
    font-size: 18px;
	padding: 4px 8px;
	color: #333;
	background: #f0f0f0;
	border-radius: 4px;
}

.border-radius-top {
	border-radius: 5px 5px 0px 0px;
}

.border-radius-full {
	border-radius: 5px;
}