@media (max-width: 776px) {

	body {
		min-width: 260px;
	}

	* {
		font-size: 18px;
	}

	.footer {
		margin: 30px 0;
	}

	/* Homepage */

	.homepage {
		display: block;
		min-width: 0;
		max-width: none;
		min-height: 320px;
		height: calc(100vh - 225px);
	}

	.homepage-title {
		font-size: 56px;
		margin-bottom: 0;
	}

	.homepage-split {
		position: relative;
		width: 100%;
	}

	.homepage-split-container {
		height: calc(100vh - 186px);
	}

	.homepage-split.left {
		display: none;
	}

	.homepage-split.left {
		border: none;
	}

	.homepage-right-panel {
		width: 248px;
		padding: 0;
		margin: auto;
	}

	/* Projects */

	.project-grid {
		margin: 0;
		display: block;
	}

	.project-tile {
		padding-bottom: 0;
	}

	.project-tile.inactive {
		display: none;
	}

	.project-grid .tile-wrapper, .project-tile-image {
		width: 100%;
		max-width: 360px;
		margin: auto;
	}

	.project-tile:not(.inactive):hover .project-tile-image {
		box-shadow: none;
	}

	/* Project detail */

	.project-detail {
		padding: 0;
	}

	.project-detail p, .project-detail-image-center, .video-wrapper, .project-detail-wrapper, .back-to-projects-wrapper {
		margin: 0;
	}

	.project-title {
		font-size: 36px;
	}

	.project-detail p {
		background: none;
		border: none;
		padding: 22px 22px;
		padding-bottom: 0;
		margin-bottom: 20px;
		width: calc(100% - 44px) !important;
		text-align: left;
	}
	
	.project-tag {
		margin: 4px auto;
	}

	.project-detail .link-box {
		padding: 0px 10px;
	}

	.project-detail .link-box .tile {
		display: block;
	}

	.link-item {
		display: block;
		margin: 10px auto;
	}

	.link-separator {
		display: none;
	}

	.aspect-ratio {
		background-size: 70%;
	}

	.project-detail-image {
		max-height: none !important;
		width: 100%;
	}
}

@media (max-width: 2100px) {

	/* Project detail back to projects button */

	.back-to-projects-wrapper .projects-button {
		padding: 15px 22px;
	}

	.back-to-projects-wrapper .projects-button-text {
		font-size: 22px;
		margin-right: 34px;
	}

	.back-to-projects-wrapper .projects-button-icon {
		width: 24px;
		right: 20px;
		top: 18px;
	}
}

@media (min-width: 2101px) {
	.project-detail p {
		font-size: 20px;
	}
}