@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&family=Roboto+Condensed:wght@700&display=swap');

/* Global */

* {
    font-family: 'Solway', serif;
    font-size: 20px;
}

html {
	overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Catamaran', sans-serif;
}

a {
	color: inherit;
	text-decoration: inherit;
}

.center {
    text-align: center;
}

.content {
	padding-top: 63px;
	min-height: calc(100vh - 224px);
}

.tile-wrapper {
	display: inline-block;
	margin: 10px;
}

.tile {
	position: relative;
	user-select: none;
	background: white;
	border: #ccc solid 1px;
	padding: 14px 16px;
	border-radius: 3px;
	box-shadow: 0px 0px 0px 0px #fff;
	transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tile:not(.inactive):not(.wip):hover {
	border-color: #999;
	box-shadow: 0px 0px 0px 4px #eee;
}

.wip-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
	background: rgba(255, 255, 255, 0.8);
	opacity: 0;
	transition: opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);;
}

.tile:hover .wip-overlay {
	opacity: 1;
}

/* Header */

.navbar {
	position: fixed;
	top: 0;
    height: 63px;
    background: white;
    width: 100%;
    padding: 0;
	display: flex;
	z-index: 100;
	justify-content: center;
	border-bottom: 1px solid #fff;
	transition: border-bottom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navigation-item {
	user-select: none;
    display: inline-block;
    text-decoration: none;
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
    font-size: 20px;
    padding: 20px 25px;
    box-shadow: inset 0 -4px 0 #fff;
    transition: box-shadow 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: #333;
}

.navigation-item:hover {
    color: #333;
    box-shadow: inset 0 -4px 0 #333;
}

.navigation-item.highlighted {
    box-shadow: inset 0 -4px 0 #333;
}

/* Footer */

.link-row {
	position: relative;
	text-align: center;
}

.link-row .tile-wrapper {
	margin: 50px 5px;
}

.social-tile-icon {
    height: 31px;
}

.social-tile-icon img {
	height: 31px;
	width: 31px;
}

.social-tile-text {
	color: #333;
	margin-left: 46px;
    font-size: 24px;
    line-height: 32px;
}

#email-copy {
	position: relative;
	cursor: pointer;
}

@keyframes fadeOutUp {
	from {
	opacity: 1;
	}

	to {
	opacity: 0;
	transform: translate3d(0, -100%, 0);
	}
}
  
.copied {
	position: absolute;
	top: -32px;
	animation-name: fadeOutUp;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
}

/* Homepage */

.homepage {
	max-width: 800px;
	margin: auto;
	margin-top: 70px;
}

.homepage-title {
	font-size: 60px;
	text-align: center;
}

.homepage-split-container {
	position: relative;
	height: 500px;
}

.homepage-split {
	height: 100%;
	width: 50%;
	position: absolute;
	top: 0;
}

.homepage-split.left {
	left: 0;
}

.homepage-split.right {
	right: 0;
}

.homepage-right-panel {
	height: 100%;
	padding-left: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

model-viewer {
	width: 100%;
	height: 100%;
	border-radius: 3px;
}

#typewriter-history div, #typewriter {
	font-size: 30px;
	white-space: nowrap;
}

#typewriter-history {
	height: 34px;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.projects-button-wrapper {
	margin-top: 20px;
}

.projects-button {
	position: relative;
	display: inline-block;
	user-select: none;
	background: #ffb900;
    padding: 14px 22px;
    color: #523b00;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
	box-shadow: 0 6px 0 0 rgb(228, 158, 0);
}

.projects-button-text {
	font-weight: 700;
    font-size: 24px;
	margin-right: 40px;
}

.projects-button-icon {
    width: 28px;
    position: absolute;
    right: 22px;
    top: 14px;
}

/* Projects */

.project-grid {
	margin: 60px auto 20px;
	max-width: 1300px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.project-tile {
	min-height: 328px;
}

.project-tile-image {
	position: relative;
	width: 360px;
	height: 260px;
	border-radius: 3px;
	background-position: center;
	background-size: cover;
}

.project-tile-title {
	margin-top: 12px;
	margin-bottom: 8px;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.project-tile-badge {
	display: inline-block;
	bottom: 10px;
	font-size: 14px;
	background: #eee;
	padding: 3px 5px;
	border-radius: 3px;
}

.project-tile-year {
	position: absolute;
	background: white;
	border-radius: 0 3px 0 0;
	bottom: 0;
	left: 0;
	padding: 6px 8px 0 4px;
	font-size: 14px;
	font-weight: 500;
}

.project-tile-commercial {
	position: absolute;
    background: #3b64a0;
    color: white;
    border-radius: 3px;
    top: 10px;
    right: 10px;
    padding: 5px 8px 3px 8px;
    font-size: 14px;
    font-weight: 500;
}

/* Other */

.sketchbook-archive {
	text-align: center;
	max-width: 320px;
	margin: auto;
}

.sketchbook-archive .tile-wrapper {
	width: 100%;
}