@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&family=Roboto+Condensed:wght@700&display=swap');

* {
    font-family: 'Solway', serif;
    font-size: 20px;
}

html {
	overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Catamaran', sans-serif;
}

.navbar {
	position: fixed;
	top: 0;
    height: 63px;
    background: white;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navigation-item {
    display: inline-block;
    text-decoration: none;
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
    font-size: 20px;
    padding: 20px 25px;
    box-shadow: inset 0 -4px 0 #fff;
    transition: box-shadow 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: #333;
}

.navigation-item:hover {
    color: #333;
    box-shadow: inset 0 -4px 0 #333;
}

.navigation-item.highlighted {
    box-shadow: inset 0 -4px 0 #333;
}

.center {
    text-align: center;
}

.content {
	/* margin-top: 63px; */
}

.main-center {
	max-width: 1000px;
    margin: auto;
}

.about-card {
    background: white;
    padding: 30px 50px;
    border-radius: 4px;
    box-shadow: 0 0 0 3px #ccc, 0 1px 2px 3px rgba(0,0,0,0.5), 0 4px 13px 3px rgba(0,0,0,0.1);
}

.projects-button-wrapper {
	display: flex;
	z-index: 1;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 50px auto 0;
}

.projects-button {
	position: relative;
	background: #ffb900;
    border: none;
    padding: 22px 36px;
    color: #523b00;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 6px 0 0 rgb(228 158 0), 0 6px 4px 0px rgba(0,0,0,0.4), 0 10px 12px 0px rgba(0,0,0,0.1);
}

.projects-button-text {
	font-weight: 700;
    font-size: 28px;
	margin-right: 40px;
}

.projects-button-icon {
    width: 40px;
    position: absolute;
    right: 22px;
    top: 18px;
}

.main-image {
	background-image: url('/images/main_screen/original.png');
	background-position: center;
	background-size: cover;

	/* background: -webkit-linear-gradient(top,#568db5,#ccdde8);
    background: -linear-gradient(top,#568db5 0,#ccdde8 100%);
	background: -moz-linear-gradient(top,#568db5 0,#ccdde8 100%); */
	
	height: 100vh;
	border-radius: 3px;
	display: flex;
}

.project-grid {
	margin: 110px auto 50px;
	max-width: 1300px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.social-tile-wrapper, .project-tile-wrapper {
	margin: 10px;
	flex-grow: 1;
}

.social-tile-wrapper a, .project-tile-wrapper a {
	color: inherit;
	text-decoration: inherit;
}

.social-tile, .project-tile {
	background: white;
	border: #ccc solid 1px;
	padding: 14px 16px;
	border-radius: 3px;
	box-shadow: 0px 0px 0px 0px #fff;
	transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.social-tile:hover, .project-tile:hover {
	border-color: #999;
	box-shadow: 0px 0px 0px 4px #eee;
}

.social-bar {
    text-align: center;
	margin: 0px -10px 0px -10px;
    display: flex;
    justify-content: space-between;
}

.social-tile-icon {
	position: absolute;
    width: 31px;
}

.social-tile-text {
	color: #333;
	margin-left: 46px;
    font-size: 24px;
    line-height: 32px;
}

.projects-button {
	display: block;
}

.project-tile-image {
	position: relative;
	width: 360px;
	height: 260px;
	border-radius: 3px;
	background-position: center;
	background-size: cover;
}

.project-tile-title {
	margin-top: 12px;
	margin-bottom: 8px;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.badge {
	display: inline-block;
	color: #333;
	bottom: 10px;
	background: #eee;
	padding: 3px 8px;
	border-radius: 3px;
}

.project-tile-badge {
	display: inline-block;
	bottom: 10px;
	font-size: 14px;
	background: #eee;
	padding: 3px 5px;
	border-radius: 3px;
}

.project-tile-year {
	position: absolute;
	background: white;
	border-radius: 0 3px 0 0;
	bottom: 0;
	left: 0;
	padding: 6px 8px 0 4px;
	font-size: 14px;
	font-weight: 500;
}

.project-tile-commercial {
	position: absolute;
    background: #3b64a0;
    color: white;
    border-radius: 3px;
    top: 10px;
    right: 10px;
    padding: 5px 8px 3px 8px;
    font-size: 14px;
    font-weight: 500;
}