@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&family=Roboto+Condensed:wght@700&display=swap');

* {
    font-family: 'Solway', serif;
    font-size: 20px;
    /* font-weight: 300; */
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Catamaran', sans-serif;
    /* font-size: 30px; */
    /* font-weight: 800; */
}

a {
	color: inherit;
	text-decoration: inherit;
}

.navbar {
    padding: 0;
    display: flex;
    justify-content: center;
}

.navigation-item {
    display: inline-block;
    text-decoration: none;
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
    font-size: 20px;
    padding: 20px 25px;
    box-shadow: inset 0 0px 0 #333;
    /* transition: all 0.2s ease; */
    color: #333;
}

.navigation-item:hover {
    color: #333;
    box-shadow: inset 0 -4px 0 #333;
}


.navigation-item.highlighted {
    box-shadow: inset 0 -4px 0 #333;
}

.content {
    max-width: 1200px;
    margin: 80px auto;
    padding: 0px 20px;
}

.center {
    text-align: center;
}

.projects {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.project-tile {
	width: 252px;
	margin: 10px;
	border: #ccc solid 1px;
	border-radius: 3px;
}

.project-tile-inner {
	padding: 10px;
}

.project-tile-image {
	height: 200px;
	border-radius: 3px;
	background-position: center;
	background-size: cover;
}

.project-tile-title {
	margin-top: 10px;
	margin-bottom: 3px;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.badge {
	display: inline-block;
	bottom: 10px;
	font-size: 14px;
	background: #eee;
	padding: 3px 5px;
	border-radius: 3px;
}