/* Sketchbook archive */

.sketchbook-archive-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: calc(100vh - 307px);
}

.sketchbook-archive {
	text-align: center;
	width: 100%;
    max-width: 320px;
	margin: 0 auto;
}

.sketchbook-archive .tile-wrapper {
	width: 100%;
	margin: 16px auto;
}