---
import { renderMarkdown } from '../scripts/astro-helpers';
import ContentBlock from '../components/content_block/ContentBlock.astro';
import '../styles/textarea.css';
import type { ProjectData, TextProperties } from '../scripts/interfaces';

interface Props {
	project: {
		name: string;
		data: ProjectData;
	},
	contentBlock: {
		index: number;
		properties: TextProperties;
	}
}
const { contentBlock } = Astro.props;
---

<ContentBlock>
	<div class="text-block">
		<div
			class="textarea"
			set:html={renderMarkdown(contentBlock.properties.data)}
		/>
	</div>
</ContentBlock>

<style>
	.text-block {
		display: flex;
		justify-content: center;
	}

	.text-block .textarea {
		width: 100%;
	}

	@media (max-width: 776px) {
		.text-block {
			margin-bottom: 22px;
		}
	}
</style>