---
const { project, contentBlock, width, height } = Astro.props;

const idPrefix = "aspect-ratio-content-block-";
const borderClass = 'desc' in contentBlock.properties ? ' border-radius-top' : ' border-radius-full';
---
<div class="content-block">
	<!-- style="<%= partial "partials/system/loading" %>" -->
	<div 
		id={idPrefix + contentBlock.index}
		class={"aspect-container" + borderClass}
		data-width={width}
		data-height={height}
		data-first_padding={contentBlock.index == 0 ? 'true' : 'false'}
		data-desc_padding={'desc' in contentBlock.properties ? 'true' : 'false'}
		data-links_padding={project.hasLinks && contentBlock.index == 0 ? 'true' : 'false'}
	>
		<slot/>
	</div>

	{'desc' in contentBlock.properties && (
		<p
			class="content-description textarea"
			data-target={idPrefix + contentBlock.index}
			set:html={contentBlock.properties.desc}
		/>
	)}
</div>