---
const {projectName, projectData} = Astro.props
---
<div class="tile-wrapper">
	<a href={"/projects/" + projectName}>
		<div class="project-tile">
			<img
				src={"/assets/projects/" + projectName + "/thumb.jpg"}
				alt={projectName}
				class="project-tile-image"
				onload="fadeIn(this);"
			/>

			{'badge' in projectData && (
				<div class={`project-badge ${projectData.badge.toLowerCase()}`}>{projectData.badge}</div>
			)}
		</div>
	</a>
</div>

<script>
	fadeIn();
</script>

<style>
	.project-tile {
		display: flex;
		justify-content: center;

		position: relative;
		padding: 10px;
		width: 320px;
		height: 231px;

		background: #f0f0f0;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100px;
	}

	.project-tile::before {
		content: "";
		position: absolute;
		top: -10px;
		bottom: -10px;
		left: -10px;
		right: -10px;
		z-index: 10;
		box-shadow: inset 0 0 0 20px white;
		transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		border-radius: 25px;
	}

	.project-tile:not(.inactive):hover::before {
		box-shadow: inset 0 0 0 27px white;
		border-radius: 32px;
	}

	.project-tile-image {
		display: none;
		width: 320px;
		height: 231px;
	}

	.project-badge {
		position: absolute;
		color: white;
		top: 17px;
		left: 17px;
		padding: 5px 8px 3px 8px;
		font-size: 14px;
		font-weight: 500;
		border-radius: 5px;
	}

	.project-badge.commercial {
		background: #3b64a0;
	}

	.project-badge.blog {
		background: #e0391bec;
	}
</style>