<div class="link-row">
	<div id="email-copy" class="tile-wrapper" onclick="emailToClipboard();">
		<div class="tile">
			<div class="social-tile-icon"><img src="/images/svg/envelope.svg"></div>
		</div>
	</div><div class="tile-wrapper">
		<a href="https://github.com/swift502" target="_blank">
			<div class="tile">
				<div class="social-tile-icon"><img src="/images/svg/github.svg"></div>
			</div>
		</a>
	</div><div class="tile-wrapper">
		<a href="https://youtube.com/c/swifterik" target="_blank">
			<div class="tile">
				<div class="social-tile-icon"><img src="/images/svg/youtube.svg"></div>
			</div>
		</a>
	</div>
</div>