<div id="navbar" class="navbar">
    <div class="navigation">
		<%= link_to 'Home', '/', :class => "navigation-item #{current_page.data.tab == "home" ? "highlighted" : ""}" %>
        <%= link_to 'Projects', '/projects', :class => "navigation-item #{current_page.data.tab == "projects" ? "highlighted" : ""}" %>
	</div>
</div>