<div class="tile-wrapper">
	<a href="/projects/<%= project_name %>">
		<div class="project-tile" style="<%= partial "partials/loading" %>">
			<img
				class="project-tile-image"
				src="/assets/projects/<%= project_name %>/thumb.jpg"
				onload="fadeIn(this)"
			>
			<% if project.commercial.present? %>
				<div class="project-tile-commercial">Commercial</div>
			<% end %>
		</div>
	</a>
</div>