<div class="projects-button-wrapper">
	<a href="/projects" class="projects-button">
		<span class="projects-button-text"><%= text %></span>
		<img src="/images/svg/folder-open.svg" class="projects-button-icon">
	</a>
</div>