<div class="tile-wrapper">
	<a href="/projects/<%= project_name %>">
		<div class="project-tile">
			<div class="project-tile-image" style="background-image: url('/images/projects/<%= project.image %>');">
				<% if project.commercial.present? %>
					<div class="project-tile-commercial">Commercial</div>
				<% end %>
			</div>
		</div>
	</a>
</div>