<div class="social-bar">
	<%= partial 'partials/social_tile', :locals => {
		:icon => 'images/svg/envelope.svg',
		:text => 'Email',
		:link => nil,
		:onclick => 'emailToClipboard();'
	} %>
	<%= partial 'partials/social_tile', :locals => {
		:icon => 'images/svg/github.svg',
		:text => 'GitHub',
		:link => 'https://github.com/swift502',
		:onclick => nil
	} %>
	<%= partial 'partials/social_tile', :locals => {
		:icon => 'images/svg/youtube.svg',
		:text => 'Youtube',
		:link => 'https://www.youtube.com/channel/UCEFcZG7G_roYPOQVrW0e5UA',
		:onclick => nil
	} %>
</div>