
<% if onclick.present? %>
<div id="email-copy" class="social-tile-wrapper" onclick="<%= onclick %>">
<% else %>
<div class="social-tile-wrapper">
<% end %>
	<% if link.present? %>
		<a href="<%= link %>">
	<% end %>
		<div class="social-tile">
			<div class="social-tile-icon"><img src="<%= icon %>"></div>
			<div class="social-tile-text"><%= text %></div>
		</div>
	<% if link.present? %>
		</a>
	<% end %>
</div>