<div class="video-wrapper">
	<div class="aspect-ratio">
		<iframe id="video-<%= index %>" frameborder="0" src="https://www.youtube.com/embed/<%= item.data %>" allowfullscreen></iframe>
	</div>
	<% if item.desc.present? %>
		<p class="content-description" data-target="video-<%= index %>"><%= item.desc %></p>
	<% end %>
</div>