---
import ProjectDetail from '../../layouts/ProjectDetail.astro';
import CB_Image from '../../components/content_blocks/CB_Image.astro';

// title: Character experiments
// description: An experimental project focused on exploring various character designs and art styles.
// tags:
//   - 2020
//   - Blender
//   - GIMP
---

<ProjectDetail title="Character experiments">

<CB_Image src="/assets/projects/characters/all.jpg" desc="true" index="1">
    An experimental project focused on exploring various character designs and art styles. One of these characters eventually became <a href="/projects/chloe">Chloe</a>, while the rest gradually evolved over time and ended up on this website's <a href="/">homepage</a>.
</CB_Image>

<!-- <CB_Image src="char_1.jpg">
    Beginning in 2018, I started expreimenting with very simple character designs. The goal was the ability to quickly iterate upon designs and not spend months on a single character.
</CB_Image>

<CB_Image src="char_3.jpg">
    High poly renditions of few of the characters. This turned out to be too ambitious and an evolution away from the simple and cartoony direction I originally intended to take.
</CB_Image> -->

<!-- <CB_YouTube src="Vt5oqP2qmSE">
    While working on a different project, I had to quickly come up with two low poly characters. Building upon what I learned in the previous attempts, this art style turned out to be quite appealing.
</CB_YouTube>

<CB_YouTube src="Au4KNlfHo_Q">
    From there, I began reworking old designs, giving them personality through animation, distinct outfits and possessions.
</CB_YouTube>

<CB_YouTube src="NCif1HgjjgI"></CB_YouTube>

<CB_YouTube src="q-BO0eFN48s">
    Feel free to explore all the models up close on the desktop version of the <a href="/">homepage</a>.
</CB_YouTube> -->

</ProjectDetail>