<h1>Chloe</h1>
<img src="/images/projects/chloe/chloe_a.jpg">
<hr>
<p>
	Character practice project, focused on a stylized character creation process.
	practice project, focused on a stylized character creation process
	practice project, focused on a stylized character creation process
	practice project, focused on a stylized character creation process
	practice project, focused on a stylized character creation process
	practice project, focused on a stylized character creation process
	practice project, focused on a stylized character creation process

</p>
<hr>
<img src="/images/projects/chloe/chloe_b.jpg">
<img src="/images/projects/chloe/wire.jpg">