---
tab: "home"
---
<% content_for(:title, "Jan Bláha: 3D art and programming") %>
<% content_for(:description, "Portfolio of my 3D art and programming projects and experiments along with a breakdown of the creative process and technical challenges tied to each of them.") %>

<div class="homepage">
	<h1 class="homepage-title">Jan Bláha</h1>
	<div class="homepage-split-container">
		<div id="model-viewer-wrapper" class="homepage-split left">
			<model-viewer
			environment-image="assets/env.hdr"
			exposure="1.1"
			autoplay
			auto-rotate
			auto-rotate-delay="0"
			rotation-per-second="-5deg"
			min-camera-orbit="auto 80deg auto"
			max-camera-orbit="auto 80deg auto"
			camera-controls
			interaction-prompt="none"
			disable-zoom
			shadow-intensity="1"
			shadow-softness="0.3">
			</model-viewer>
		</div>
		<div class="homepage-split right">
			<div class="homepage-right-panel">
				<div id="typewriter-history"></div>
				<div id="typewriter">_</div>
				<div class="projects-button-wrapper">
				<%= partial 'partials/buttons/projects', :locals => {
					:text => 'View projects',
				} %>
				</div>
			</div>
		</div>
	</div>
</div>
<%= javascript_include_tag  'homepage' %>
<%= javascript_include_tag  'typewriter' %>
<%= partial 'partials/model_viewer' %>