---
title: "Home"
tab: "home"
---
<!-- Model viewer -->
<script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.1.3/webcomponents-loader.js"></script>
<script src="https://unpkg.com/intersection-observer@0.5.1/intersection-observer.js"></script>
<script src="https://unpkg.com/resize-observer-polyfill@1.5.0/dist/ResizeObserver.js"></script>
<script src="https://unpkg.com/focus-visible@5.0.1/dist/focus-visible.js" defer></script>
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
<script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>

<div class="homepage">
	<h1 class="homepage-title">Jan Bláha</h1>
	<div class="homepage-split-container">
		<div id="model-viewer-wrapper" class="homepage-split left">
			<model-viewer src="models/boxman.glb"
				auto-rotate
				auto-rotate-delay="0"
				autoplay
				shadow-intensity="1"
				shadow-softness="0"
			></model-viewer>
		</div>
		<div class="homepage-split right">
			<div class="homepage-right-panel">
				<div id="typewriter-history"></div>
				<div id="typewriter"></div>
				<%= partial 'partials/projects_button', :locals => {
					:text => 'View projects'
				} %>
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag  'homepage' %>