---
tab: "projects"
---
<% content_for(:title, "Projects") %>
<div class="project-grid">
	<% data.project_index.each do |project_name| %>
		<%= partial 'partials/project_tile', :locals => {
			:project => data.projects[project_name],
			:project_name => project_name
		} %>
	<% end %>
	<%
		# Fill the rest of the last row with dummy tiles
		columns = 3
		gaps = (columns - (data.project_index.length % columns)) % columns
		while gaps > 0 do
	%>
		<%= partial 'partials/dummy_project_tile' %>
		<% gaps -= 1 %>
	<% end %>
</div>