---
tab: "projects"
priority: "0.80"
---

<% content_for(:title, "Projects") %>
<% content_for(:description, "Portfolio of my 3D art and programming projects and experiments along with a breakdown of the creative process and technical challenges tied to each of them.") %>
<% content_for(:page_image, "https://#{config.domain}/assets/social.jpg") %>

<div class="project-grid">
	<% data.project_index.each do |project_name| %>
		<%= partial 'partials/components/project_tile', :locals => {
			:project_name => project_name,
			:project => data.projects[project_name]
		} %>
	<% end %>
	<%
		# Fill the rest of the last row with dummy tiles
		columns = 3
		gaps = (columns - (data.project_index.length % columns)) % columns
		while gaps > 0 do
	%>
		<%= partial 'partials/components/dummy_project_tile' %>
		<% gaps -= 1 %>
	<% end %>
</div>