---
tab: "projects"
---
<% content_for(:title, "Projects") %>
<div class="project-grid">
	<%
		# Sort projects and emit project tiles
		sorted = data.projects.sort_by { |key, project| -project.year }
		sorted.each do |key, project|
	%>
		<%= partial 'partials/project_tile', :locals => {
			:project => project,
			:project_name => key
		} %>
	<% end %>
	<%
		# Fill the rest of the last row with dummy tiles
		columns = 3
		gaps = columns - (data.projects.length % columns)
		while gaps > 0 do
	%>
		<%= partial 'partials/dummy_project_tile' %>
		<% gaps -= 1 %>
	<% end %>
</div>