---
title: "Projects"
tab: "projects"
---

<div class="project-grid">
	<%
		sorted = data.projects.sort_by { |key, project| -project.year }
		sorted.each do |key, project|
	%>
		<%= partial 'partials/project_tile', :locals => {
			:project => project,
			:project_name => key
		} %>
	<% end %>
</div>