<div class="content-block">
	<slot/>
</div>

<style>
	.content-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 30px auto;
	}

	@media (max-width: 776px) {
		.content-block {
			margin: 0;
		}
	}
</style>