---
import Head from '../components/core/Head.astro';
import Navbar from '../components/core/Navbar.astro';
import Footer from '../components/core/Footer.astro';

import '@fontsource/catamaran/600.css';
import '@fontsource/catamaran/900.css';
import '@fontsource/solway/400.css';
import '@fontsource/solway/500.css';
import '@fontsource/solway/700.css';

import 'normalize.css';
import '../styles/global.css';

const { pageInfo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<Head pageInfo={pageInfo} />
	</head>
	<body>
		<Navbar pageInfo={pageInfo} />
		<div class="content">
			<slot />
		</div>
		<Footer />
	</body>
</html>

<style>
	.content {
		padding-top: 64px;
		min-height: calc(100vh - 202px);
	}

	@media (min-width: 2101px) {
		.content {
			min-height: calc(100vh - 227px);
		}
	}
</style>