---
import { constructPageTitle } from '../scripts/astro-helpers';

import '@fontsource/catamaran/600.css';
import '@fontsource/catamaran/900.css';
import '@fontsource/solway/400.css';
import '@fontsource/solway/500.css';
import '@fontsource/solway/700.css';

import 'normalize.css';
import '../styles/global.css';

const { pageInfo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{constructPageTitle(pageInfo)}</title>
		<meta name="robots" content="noindex">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<script is:inline src="/scripts/global.js" />
	</head>
	<body>
		<div class="content">
			<slot />
		</div>
	</body>
</html>