<h1>Chloe</h1>

<img src="/images/projects/chloe/chloe_a.jpg">
<p>
	Character practice project, focused on a stylized character creation process.
	Character practice project, focused on a stylized character creation process.
	Character practice project, focused on a stylized character creation process.
	Character practice project, focused on a stylized character creation process.
</p>
<img src="/images/projects/chloe/chloe_b.jpg">
<img src="/images/projects/chloe/wire.jpg">