---
title: "Projects"
tab: "projects"
---
<div class="project-grid">
	<% data.projects.each do |project| %>
		<%= partial 'partials/project_tile', :locals => {
			:project => project
		} %>
	<% end %>
</div>