<h1>World of Airports</h1>

<iframe width="420" height="315"
src="https://www.youtube.com/embed/R8wdlTKn-PY">
</iframe>

<p>
	Gabe Logan Newell (born (1962-11-03)November 3, 1962), nicknamed Gaben, is an American businessman, the co-founder and president of the video game developer and digital distribution company Valve. Educated at Davis Senior High School and attending Harvard University from 1980 until dropping out in 1983, Newell joined Microsoft, where he, over the course of thirteen years, helped create the first iterations of the Microsoft Windows operating system. Together with Mike Harrington, he left Microsoft in 1996 to found Valve.
</p>

<img src="/images/projects/thumb_chloe.png">

<p>
	Gabe Logan Newell (born (1962-11-03)November 3, 1962), nicknamed Gaben, is an American businessman, the co-founder and president of the video game developer and digital distribution company Valve. Educated at Davis Senior High School and attending Harvard University from 1980 until dropping out in 1983, Newell joined Microsoft, where he, over the course of thirteen years, helped create the first iterations of the Microsoft Windows operating system. Together with Mike Harrington, he left Microsoft in 1996 to found Valve.
</p>