---
import ContentBlock from '../project_detail/ContentBlock.astro';

const { contentBlock } = Astro.props;
---

<ContentBlock>
	<div class="text-block">
		<p class="textarea">{contentBlock.properties.data}</p>
	</div>
</ContentBlock>

<style>
	.text-block {
		display: flex;
    	justify-content: center;
	}
</style>