---
import { renderMarkdown } from '../../scripts/utilities';
import ContentBlock from '../project_detail/ContentBlock.astro';
const { contentBlock } = Astro.props;
---

<ContentBlock>
	<div class="text-block">
		<div
			class="textarea"
			set:html={renderMarkdown(contentBlock.properties.data)}
		/>
	</div>
</ContentBlock>

<style>
	.text-block {
		display: flex;
		justify-content: center;
	}
</style>